#imagen {
    padding: 2% 0 2% 0;
}

.navbar {
    background-color: #e3f2fd !important;
    padding: 0 2% 0 2%!important;
}

.container-fluid {
    padding: 0 0 0!important;
}

#logo {
    width: 80%;
}






