<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="../static/css/game.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
</head>

<body>
    <div class="parent">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> <img src="../static/images/INCS.png" id="logo"></a>
            </div>

        </nav>

        <div class="row justify-content-center align-items-center" id="imagen">
            <img src="../static/images/" style="height: 500px;"> <!-- Change image, check width -->
        </div>
        <div class="row justify-content-center align-items-center">
            <button class="btn btn-primary" id="menos" onclick="removeLetter();">-</button>
            <button class="btn btn-primary" id="mas" onclick="addLetter();">+</button>
        </div>
        <div class="row justify-content-center align-items-center">
            <form class="" action="/game" method="post" id="word_form">
                <input type="hidden" id="letterNum" name="letterNum" value="1">
                <input type="hidden" id="select0_letter" name="select0_letter">
                <select id="select0" class="slick">
                    <option value="0" data-description="" data-imagesrc="../static/images/white.png"></option>
                    <option value="1" data-description="" data-imagesrc="../static/images/red.png"></option>
                    <option value="2" data-description="" data-imagesrc="../static/images/green.png"></option>
                </select>

            </form>
        </div>
        <div class="row justify-content-center align-items-center">
            <form class="" action="/game" method="post" id="word_form">
              <input id="enviar" type= "submit" value="¡Enviar!" name="btn" >
            </form>
        </div>


    </div>

    <!-- SLICK -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js" ></script>
    <script src="../static/js/game.js"></script>
    <!-- -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
